<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unimelb.android.prj"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".HelloAndroidActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidSQLiteTutorialActivity"
            android:label="@string/title_activity_android_sqlite_tutorial" >
        </activity>
        <activity
            android:name=".SqlActivity"
            android:label="@string/title_activity_sql" >
        </activity>
        <activity
            android:name=".SqlLiteActivity"
            android:label="@string/title_activity_sql_lite" >
        </activity>
        <activity
            android:name=".MysqlActivity"
            android:label="@string/title_activity_mysql"
            android:parentActivityName="unimelb.android.prj" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unimelb.android.prj" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>